.sombra-caja {
  box-shadow: 0px 5px 15px 0 rgba(51, 51, 51, 0.9);
}
.Oswald {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'lato', sans-serif;
  color: #fff;
  background-color: #333333;
  font-size: 18px;
  line-height: 28px;
}
h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}
.intro {
  width: 97%;
  height: 650px;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 5px 15px 0 rgba(51, 51, 51, 0.9);
  background-color: #8841da;
}
.intro__imagen {
  width: 98%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.intro__imagen img {
  width: 100%;
  height: 630px;
  object-fit: cover;
}
.intro__contenido {
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 156px;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
}
.intro__categoria {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
}
.intro__titulo {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 60px;
}
@media (max-width: 736px) {
  .intro__titulo {
    font-size: 36px;
  }
}
.intro__autor {
  width: 150px;
  margin: 0 auto;
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  color: #fff;
}
@media (max-width: 768px) {
  .intro__autor {
    top: 470px;
  }
}
@media (max-width: 736px) {
  .intro__autor {
    top: 520px;
  }
}
.intro__autor img {
  width: 60px;
  height: 50px;
  float: left;
  padding-right: 10px;
  border-radius: 10em;
}
.intro__autor span {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.intro__autor-titulo {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.articulo--principal {
  max-width: 660px;
  margin: 0 auto;
}
@media (max-width: 736px) {
  .articulo--principal {
    padding: 0 15px;
  }
}
.articulo--principal__intro {
  font-size: 25px;
  line-height: 35px;
}
.articulo--principal h2 {
  margin: 40px 0 40px 0;
  text-align: center;
  color: #8841da;
  font-size: 50px;
  line-height: 60px;
}
.articulo--principal h3 {
  color: #8841da;
}
.contenedor--cajas {
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.caja {
  max-width: 360px;
  margin: 0 0.3em;
  box-shadow: 0px 5px 15px 0 rgba(51, 51, 51, 0.9);
}
@media (max-width: 768px) {
  .caja {
    margin-top: 2em;
  }
}
@media (max-width: 736px) {
  .caja {
    margin-top: 2em;
  }
}
.caja__contenido {
  padding: 25px;
  background-color: #8841da;
}
.caja__imagen img {
  width: 100%;
}
.caja span {
  color: #8841da;
}
.caja a {
  text-decoration: none;
  color: #012179;
}
