@color-primario: #333333;
@color-claro: #fff;
@color-secundario:#8841da;
@color-variacion: #012179;
@fuente1: 'lato', sans-serif;
@fuente2: 'Oswald', sans-serif;
@fuente-base: 18px;

// breakpoint ······>
@wide-screen-down: ~'(max-width: 1199px)';
@desktop-down: ~'(max-width: 991px)';
@tablet-down: ~'(max-width: 768px)';
@phone-down: ~'(max-width: 736px)';
@small-phone-down: ~'(max-width: 320px)';


.sombra-caja {
	box-shadow: 0px 5px 15px 0 fade(@color-primario, 90%);
}
.Oswald {
	font-family: @fuente2;
	text-transform: uppercase;
	font-weight: 700;
}
.fuentes(@font-size) {
	font-size: @font-size;
	line-height: @font-size + 10%;
}

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: @fuente1;
	color: @color-claro;
	background-color: @color-primario;
	.fuentes(@fuente-base)
}

h1,h2,h3 {
	.Oswald;
	margin: 0;
}